body{
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(236, 243, 203);
}

.header{
    background-color: black;
    opacity:0.8;
    height:80px;
    padding:0px;
    margin:0px auto;
    width:100%;
    border-radius: 20px;
    position:sticky;
}

#image{
    width:100%;
    height:100vh;
    position: relative;
}

#logo
{
    color:white;
    font-size: 50px;
    padding-left:15px;
    padding-top: 20px;
}

#show{
    display:none;
    font-size:50px;
    color:white;
    padding-right:15px;
    padding-top:20px;
    float:right;
}

#myList{
    display:none;
    position:absolute;
    top:0;
    right:0;   
}

#myList ul{
    float:right;
    position:absolute;
    right:3%;
    top:0;
}

#myList ul li{
    background-color: rgb(90, 87, 87);
    color:white;
    font-size:18px;
    display:block;
    width:100%;
}

#Technology{
    position:relative;
}

#tech{
    display:none;
    position:absolute;
    top:50px;
    right:7%;
}

ul{
    float:right;
}

li{
    display:inline;
    text-decoration:none;
    padding:10px;
    color:rgb(167, 149, 149);
    font-size:20px;
    float:left;
}

li:hover{
    background-color: green;
    opacity:0.8;
}

.bgimg{
    position:relative;
}

.bgimg img{
    margin:0px auto;
    padding-top:10px;
    border-radius:20px;
    width:100%;
    height:auto;
}

.text
{
    position:absolute;
    top:50%;
    left:40%;
    color: rgb(243, 225, 225);
    text-decoration: underline;
    font-size: 45px;
}

h1{
    color:black;
    font-weight:bolder;
    display:flex;
    align-items:center;
    justify-content: center;
}

.avatar
{
    display:grid;
    grid-template-rows: 400px;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
}

.avatar div img{
    border-radius:50%;
    border: 1px solid black;
    height:400px;
    width: 100%;
    background-color: rgb(31, 45, 49);
    
}
.avatar div img:hover{
    box-shadow: 4px 4px 4px 4px black;
}

.projects{
    margin:0px auto;
    display:grid;
    grid-template-rows: 550px;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    opacity: 0.8;
}

.projects div{
    border:1px solid black;
    border-radius:20px;
    padding:40px;
    background-color: rgb(250, 216, 131);
    box-shadow: 4px 4px  black;
}

.projects main{
   background-color: darkcyan; 
   padding:30px;
}

h2{
    font-size:20px;
    padding:5px;
    font-weight:bold;
    color:black;
}

.projects p{
    font-size:15px;
    font-weight:500;
}

.projects div:hover{
    background-color:rgb(198, 162, 233);
}

button{
    color:white;
    background-color:grey;
    width:100%;
    font-size:20px;
    margin:auto;
    padding:5px;
    border:1px solid black;
    border-radius: 10px;
}

button:hover{
    background-color:rgb(189, 108, 108);
    color:black;
}

#love{
    color:red;
    padding:10px;
}

h3{
    font-size:30px;
    font-weight:bolder;
    display:flex;
    align-items:center;
    justify-content: center;

}

section{
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
}

section div{
    background-color:rgb(218, 147, 147);
    color:white;
    padding:10px;
    border:1px solid black;
    border-radius: 20px;
}

section div p{
    font-weight:bolder;
    font-size:25px;
}

section main img{
    width:50%;
    height:100px;
}

section main{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns:1fr;
    grid-row-gap: 10px;
}

section main div{
    border:1px solid black;
    border-radius: 20px;
}

.color1{
    background-color: grey;
    float:left;
}

.color2{
    background-color:rgb(87, 87, 177);
    float:center;
}

.color3{
    background-color:rgb(230, 230, 74);
    float:left;
}

@media screen and (max-width:400px)
{

    #show{
        display: block;
    }

    #headerList{
        display: none;
    }

    #myList ul li{
        font-size:10px;
    }

    .text{
        top:25%;
        font-size:32px;
    }
    .avatar{
        display:flex;
        flex-direction: column;  
    }

    .avatar div img{
        border-radius:90%;
        height:500px;
    }

    .avatar div{
        margin:40px;
    }

    .projects{
        display:flex;
        flex-direction: column;  
    }

    section main img{
        width:50%;
        height:400px;
    }

    .projects div
    {
        margin:20px;
    }

    h2{
        font-size:25px;
    }
    .projects p{
        font-size:18px;
    }


    #div{
        padding:0;
    }

    section{
        display:flex;
        flex-direction: column;
    }

    section div{
        height:400px;
        margin:10px;
    }

    section div p{
        font-weight:bolder;
        font-size:18px;
    }
    

    section main{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (min-height:401px) and (max-width:700px)
{

    #show{
        display: block;
    }

    #headerList{
        display: none;
    }

    .text{
        top:25%;
        font-size:32px;
    }
    .avatar{
        display:flex;
        flex-direction: column;  
    }

    .avatar div img{
        border-radius:90%;
        height:500px;
    }

    .avatar div{
        margin:40px;
    }

    .projects{
        display:flex;
        flex-direction: column;  
    }

    section main img{
        width:50%;
        height:400px;
    }

    .projects div
    {
        margin:20px;
    }

    h2{
        font-size:25px;
    }
    .projects p{
        font-size:18px;
    }


    #div{
        padding:0;
    }

    section{
        display:flex;
        flex-direction: column;
    }

    section div{
        height:400px;
        margin:10px;
    }

    section div p{
        font-weight:bolder;
        font-size:18px;
    }
    

    section main{
        display:flex;
        flex-direction: column;
    }
}


@media screen and (min-width:701px) and (max-width:1100px)
{

    .text{
        top:30%;
        font-size:25px;
    }
    .avatar{
        grid-template-rows: 300px;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 10px;
         
    }

    .avatar div img{
        height:300px;
    }

    h2{
        font-size: 35px;
    }

    .projects{
        display:flex;
        flex-direction: column;
        padding:20px;
    }

    .projects div{
        margin:50px;
    }

    
    .projects p{
        font-size:18px;
    }

    #div{
        padding:0;
    }

    section div p{
        font-weight:bolder;
        font-size:18px;
    }

    h3{
        font-size: 40px;
    }    
}
